<header class="blog-header">
  <div class="header-section">
    <div class="logo">
      <a href="/">
        <img src="/images/kayoline3.png" alt="">
        <h1 class="medianame">Jyde<span class="mediaspace">Media</span></h1>
      </a>
    </div>
    <nav class="nav-menu" id="navtop">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        {{!-- <li>
          <a class href="/user/login"><button class="btn btn-primary btn-sm">Login</button></a>
        </li> --}}
      </ul>
    </nav>
  </div>
</header>